<section ng-hide="uploading" class="well well-sm">
    <div class="form-group">
        <label for="version">Version</label>
        <input class="form-control" id="version" type="text" ng-model="upload.version" />
    </div>
    <div class="form-group">
        <label for="file">File</label>
        <input id="file" type="file" ng-file-select="files = $files"></input>
        <p class="help-text">
            A package should be a <code>.tar.bz2</code> file with <code>.easyrider.json</code> descriptor.
        </p>
    </div>
    <button class="btn btn-primary btn-sm" ng-click="start()">Upload</button>
</section>
<section ng-show="uploading">
	<div class="progress">
		<div class="progress-bar" ng-style="{width: uploadProgress + '%'}"></div>
	</div>
</section>