<section ng-hide="uploading">
	<h1>Upload</h1>
	<hr />
    <div class="form-group">
        <label>Application</label>
        <div select-application model="upload.applicationId"></div>
    </div>
    <div class="form-group">
        <label>Version</label>
        <input class="form-control" type="text" ng-model="upload.version" />
    </div>
    <div class="form-group">
        <label for="file">File</label>
        <input id="file" type="file" ng-file-select="files = $files"></input>
        <div class="help-text">A package should be a <code>.tar.bz2</code> file with <code>.easyrider.json</code> descriptor</div>
    </div>
    <button class="btn btn-default" ng-click="start()">Upload</button>
</section>
<section ng-show="uploading">
	<h1>Uploading</h1>
	<hr />
	<div class="progress">
		<div class="progress-bar" ng-style="{width: uploadProgress + '%'}"></div>
	</div>
</section>