<div class="btn-toolbar pull-right">
    <button class="btn btn-primary" ng-click="addSshNode()">Add SSH node</button>
</div>
<h1>SSH Nodes</h1>
<hr />

<div ng-show="SshNodes.configuration.loading || SshNodes.nodeStates.loading">
	Loading...
</div>
<div class="jumbotron" ng-show="SshNodes.configuration.snapshot.entries == {}">
    <h1>There are no SSH nodes</h1>
    <p>
        Some help text
    </p>
    <button class="btn btn-primary btn-lg" ng-click="addSshNode()">
        Add your first SSH node
    </button>
</div>

<ssh-node ng-repeat="(key, sshNodeConfiguration) in SshNodes.configuration.snapshot.entries" configuration="sshNodeConfiguration" state="SshNodes.nodeStates.snapshot.entries[sshNodeConfiguration.id.id]"></ssh-node>
