project/target
project/project/target
target
.idea
.idea_modules
*~
core/src/main/resources/static/*
core/src/main/web/node_modules/*
ssh/src/main/resources/static/*
ssh/src/main/web/node_modules/*
core/data
core/log
log

