<!doctype html>
<html ng-app="easyrider">
	<head>
		<title>EasyRider</title>
		<link rel="stylesheet" href="/main.css" />
		<link rel="stylesheet" href="/vendor/bower_components/fontawesome/css/font-awesome.min.css" />
	</head>
	<body>
		<nav class="navbar navbar-default" role="navigation" ng-controller="ConnectionInfoCtrl">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">EasyRider</a>
				</div>
				<div class="navbar-text indicator">
					<i class="fa fa-user"></i>
					<span ng-style="toUser()">&lt;</span>
					<span ng-style="toCloud()">&gt;</span>
					<i class="fa fa-cloud"></i>
				</div>
				<ul class="nav navbar-nav pull-right">
					<li><a href="#">{{currentUser().username}}</a></li>
					<li><a href="/api/logOut" target="_self">Sign out</a></li>
				</ul>
				<ul class="nav navbar-nav">
					<li><a href="/applications">Applications</a></li>
					<li><a href="/stages">Stages</a></li>
                    <li><a href="/nodes">Nodes</a></li>
                    <li><a href="/sshNodes">SSH nodes</a></li>
				</ul>
			</div>
		</nav>
		<div class="container-fluid">
			<div class="modal fade" ng-controller="CommandCtrl" ng-class="{in:Command.command}">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">Command editor</h4>
						</div>
						<div class="modal-body" ng-if="Command.command.jsonClass">
							<div ng-include src="'/commands/'+Command.command.jsonClass+'/template.html'"></div>
							<div ng-repeat="alert in validation.alerts"
								class="alert" ng-class="['alert-'+alert.level]">
								<h4 class="alert-heading">{{alert.title}}</h4>
								{{alert.text}}
							</div>
						</div>
						<div class="modal-footer">
							<button class="btn btn-default" ng-click="Command.cancel()">
								Cancel</button>
							<button class="btn btn-default"
								ng-disabled="!validation.canExplain"
								ng-click="Command.explain()">
								Explain</button>
							<button class="btn btn-primary"
								ng-disabled="!validation.canExecute" 
								ng-click="Command.execute(false)">
								Execute</button>
						</div>
					</div>
				</div>
			</div>
			<div ng-view></div>
		</div>
		<div class="container-fluid" ng-controller="LoginController"
		ng-hide="Api.isAuthenticated"
		style="position:fixed;top:0px;left:0px;right:0px;bottom:0px;background:white;padding-top:50px;">
			<div class="row-fluid">
				<div class="col-md-6 col-md-offset-3">
					<div class="panel panel-primary">
						<div class="panel-heading">
							Sign in
						</div>
						<div class="error" ng-show="Api.isAuthenticationFailure">
							Authentication failed
						</div>
						<div class="panel-body">
							<div class="form-group">
								<label>Login</label>
								<input type="text" class="form-control" ng-model="username" />
							</div>
							<div class="form-group">
								<label>Password</label>
								<input type="password" class="form-control" ng-model="password" />
							</div>
							<div class="form-group">
								<button class="btn btn-primary btn-lg"
									autofocus
									ng-click="signIn()">
									Sign in
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="/vendor/vendor/angular-file-upload/angular-file-upload-html5-shim.js"></script>
		<script src="/vendor/bower_components/angular/angular.js"></script>
        <script src="/vendor/bower_components/angular-cookies/angular-cookies.js"></script>
		<!-- <script src="search.js"></script> -->
		<script src="/vendor/bower_components/angular-route/angular-route.js"></script>
		<script src="/vendor/bower_components/angular-animate/angular-animate.js"></script>
		<script src="/vendor/bower_components/mousetrap/mousetrap.js"></script>
		<script src="/vendor/bower_components/angular-hotkeys/src/hotkeys.js"></script>
		<script src="/vendor/vendor/angular-file-upload/angular-file-upload.js"></script>
		<script src="/main.min.js"></script>
		<script src="/ssh.min.js"></script>
	</body>
</html>