<div class="btn-toolbar pull-right">
	<button class="btn btn-primary" ng-click="addStage()">Add stage</button>
</div>
<h1>Stages</h1>
<hr />

<div class="jumbotron" ng-show="Stages.list.length==0">
	<h1>There are no stages</h1>
	<p>
		Some help text
	</p>
	<button class="btn btn-primary btn-lg" ng-click="addStage()">
		Add your first stage
	</button>
</div>

<div class="panel panel-primary" ng-repeat="stage in Stages.list">
	<div class="panel-heading">
		<div class="btn-toolbar pull-right">
			<button class="btn btn-danger btn-xs" ng-click="removeApplication(stage.stage.id)">Remove stage</button>
		</div>
		{{stage.stage.id.applicationId.id}} @ {{stage.stage.id.id}}
	</div>
	<div class="panel-body">
		<h4>Properites</h4>
		<pre>{{stage.stage.properties|json}}</pre>
	</div>
</div>