<div class="panel panel-primary">
	<div class="panel-heading">
		<div class="btn-toolbar pull-right">
			<button class="btn btn-success btn-xs" ng-click="addContainer(stage.stage.id)">
				Add container
			</button>
			<button class="btn btn-danger btn-xs" ng-click="removeStage(stage.stage.id)">Remove stage</button>
			<button class="btn btn-primary btn-xs" ng-click="releaseVersionToStage(stage.stage.id)">Release version</button>
		</div>
		<a href="/application/{{stage.stage.id.applicationId.id}}/stage/{{stage.stage.id.id}}">
			{{stage.stage.id.applicationId.id}} @ {{stage.stage.id.id}}
		</a>
	</div>
	<div class="panel-body">
		<div class="panel">
			<div class="btn-toolbar pull-right">
				<button class="btn btn-default btn-xs" ng-click="stage.stage.properties.push({jsonClass: 'easyrider.Applications$Property', namespace: 'literal.string', name: 'name here', value: 'value here'})">
					Add literal property
				</button>
				<button class="btn btn-default btn-xs" ng-click="saveStage(stage)">
					Save changes
				</button>
			</div>
			<h4>Properties</h4>
			<property property="property" ng-repeat="property in stage.stage.properties"></property>
		</div>
		<h4>Containers</h4>
		<div class="list-group">
			<div class="list-group-item" ng-repeat="containerUpdatedEvent in ContainersConfiguration.containersInStage(stage.stage.id)">
				<div  ng-repeat="status in [ContainersState.containerStatus(containerUpdatedEvent.container.id)]">
				<div class="btn-toolbar pull-right">
					<button class="btn btn-primary btn-xs" ng-click="deployVersion(containerUpdatedEvent)">Deploy version</button>
					<button class="btn btn-primary btn-xs" ng-disabled="!canStop(status)" ng-click="stopContainer(containerUpdatedEvent.container.id)">Stop</button>
					<button class="btn btn-danger btn-xs" ng-disabled="!canRemove(status)" ng-click="removeContainer(containerUpdatedEvent.container.id)">Remove container</button>
				</div>
				<h4>
					{{containerUpdatedEvent.container.id.id}}
					<badge state="status" label="status.version.number"></badge>
				</h4>
				<div class="panel">
					<div class="btn-toolbar pull-right">
						<button class="btn btn-default btn-xs" ng-click="containerUpdatedEvent.container.properties.push({jsonClass: 'easyrider.Applications$Property', namespace: 'literal.string', name: 'name here', value: 'value here'})">
							Add literal property
						</button>
						<button class="btn btn-default btn-xs" ng-click="saveContainer(containerUpdatedEvent)">
							Save changes
						</button>
					</div>
					<h5>Properties</h5>
					<property property="property" ng-repeat="property in containerUpdatedEvent.container.properties"></property>
				</div>
				<strong>Deployed versions</strong>
				<div ng-hide="DeployedVersions.deployment.loading">
					<ul class="list-group">
						<li class="list-group-item" ng-repeat="deployedVersion in DeployedVersions.deployedVersionsByContainerId(containerUpdatedEvent.container.id)">
							<div class="btn-toolbar pull-right">
								<button class="btn btn-primary btn-xs" ng-disabled="canStop(status)" ng-click="startContainer(containerUpdatedEvent.container.id, deployedVersion.version)">Run</button>
								<button class="btn btn-danger btn-xs" ng-disabled="status.version.number == deployedVersion.version.number" ng-click="unDeployVersion(containerUpdatedEvent.container.id, deployedVersion.version)">Un-deploy</button>
							</div>
							<badge state="deployedVersion.state" label="deployedVersion.version.number"></badge>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
