<!doctype html>
<html>
	<head>
		<title>EasyRider</title>
		<link rel="stylesheet" href="main.css" />
		<style>* { outline: none; }</style>
	</head>
	<body ng-app="app">
		<div ng-controller="AppsCtrl" class="container-fluid">
			<div class="row-fluid">
				<div class="col-md-8">
					<div class="page-header">
						<h1>EasyRider Apps <small>{{connection}}</small></h1>
						
					</div>
					<div class="page-header" ng-repeat="(app, lastEvent) in status.apps">
						<div class="pull-right btn-toolbar">
							<button class="bnt btn-success btn-lg" ng-click="start(app)">Start</button>
							<button class="bnt btn-danger btn-lg" ng-click="stop(app)">Stop</button>
						</div>
						<h2>{{app}}</h2>
                        <p><span ng-class="['glyphicon', glyph[lastEvent.process.jsonClass]]"></span> {{lastEvent.process.version}}</p>
                        <p><span ng-class="['glyphicon', glyph[lastEvent.build.jsonClass]]"></span> {{lastEvent.build.version}}</p>
						<br style="clear:both" />
					</div>
				</div>
                <div class="col-md-4">
                    <div class="row-fluid">
                        <div ng-repeat="entry in auditLog">{{entry.date}} {{entry.event.app}} {{entry.event.version.slice(0, 6)}} <span ng-class="['glyphicon', glyph[entry.event.jsonClass]]"></span></div>
                    </div>
                </div>
			</div>
		</div>
		<script src="angular.min.js"></script>
		<script>
			function IO($scope) {
				var me = this;
				me.connect = function() {
					me.ws = new WebSocket("ws://" + window.location.host + "/api");
					me.ws.onmessage = function(e) {
						var msg = JSON.parse(e.data);
						if (msg.apps) {
						  $scope.$emit("newStatus", msg);
						} else if (msg.date) {
						  $scope.$emit("newAuditEntry", msg);
						}
					};
					me.ws.onclose = function() {
						$scope.$apply(function() {
							$scope.connection = "Offline";
						});
						setTimeout(function() {
							me.connect();
						}, 100);
					};
					me.ws.onopen = function() {
						$scope.$apply(function() {
							$scope.connection = "Online";
							$scope.auditLog = [];
						});
					};
				};
				me.send = function(obj) {
					me.ws.send(JSON.stringify(obj));
				};
				me.connect();
			}

			var app = new angular.module("app", []);

			app.controller("AppsCtrl", function($scope) {
				var io = new IO($scope);
				$scope.glyph = {
			        "eu.semantiq.easyrider.supervisor.AppSupervisor$Started": "glyphicon-play",
                    "eu.semantiq.easyrider.supervisor.AppSupervisor$Stopped": "glyphicon-stop",
                    "eu.semantiq.easyrider.supervisor.AppSupervisor$Crashed": "glyphicon-fire",
                    "eu.semantiq.easyrider.builder.AppBuilder$BuildSuccessful": "glyphicon-ok",
                    "eu.semantiq.easyrider.builder.AppBuilder$BuildInProgress": "glyphicon-time",
                    "eu.semantiq.easyrider.builder.AppBuilder$BuildFailed": "glyphicon-fire"
				};
				$scope.auditLog = [];
				$scope.start = function(app) {
					io.send({ jsonClass: "eu.semantiq.easyrider.supervisor.AppSupervisor$Start", app: app });
				};
				$scope.stop = function(app) {
					io.send({ jsonClass: "eu.semantiq.easyrider.supervisor.AppSupervisor$Stop", app: app });
				};

				$scope.$on("newStatus", function(e, status) {
					$scope.$apply(function() {
						$scope.status = status;
					});
				});
				$scope.$on("newAuditEntry", function(e, entry) {
					$scope.$apply(function() {
                        $scope.auditLog.unshift(entry);
                        $scope.auditLog.slice(0, 50);
                    });
				});
			});
		</script>
	</body>
</html>