<h4>Create SSH node</h4>
<div class="panel panel-primary">
    <div class="panel-heading">
        SSH node
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label>Id</label>
            <input type="text" class="form-control" autofocus ng-model="Command.command.nodeConfiguration.id.id" />
        </div>
        <div class="form-group" ng-repeat="property in Command.command.nodeConfiguration.properties">
            <label>{{property.name}}</label>
            <input type="text" class="form-control" autofocus ng-model="property.value" />
        </div>
    </div>
</div>
