<h1>Application {{appId}}</h1>
<hr />
<div class="panel panel-primary">
	<div class="panel-header">
		<div class="btn-toolbar pull-right">
			<button class="btn btn-default btn-xs" ng-click="application().application.properties.push({jsonClass: 'easyrider.Applications$Property', namespace: 'literal.string', name: 'name here', value: 'value here'})">
				Add literal property
			</button>
			<button class="btn btn-default btn-xs">
				Save changes
			</button>
		</div>
	</div>
	<div class="panel-body">
		<h4>Properties</h4>
		<property property="property" ng-repeat="property in application().application.properties"></property>
	</div>
	<pre>{{application()|json}}</pre>
</div>
