[
	{easyrider, [
		{webconsole_port, 8000},
		{data_directory, "data_a/"},
		{users, [
			{"test", <<159,134,208,129,136,76,125,101,154,47,234,160,197,90,208,21,163,191,79,27,43,11,130,44,209,93,108,21,176,240,10,8>>, admin}
		]},
		{node_id, "a"},
		{run_event_bus, true},
		{run_apps, true},
		{run_repository, true},
		{run_repository_storage, true},
		{run_release_manager, true},
		{run_orchestrator, true},
		{run_user_manager, true},
		{run_node_manager, true},
		{run_event_logger, true}
	]}
].