[
	{easyrider, [
		{webconsole_port, 8000},
		{data_directory, "data_a/"},
		{users, [
			{"test", <<9,143,107,205,70,33,211,115,202,222,78,131,38,39,180,246>>, admin}
		]},
		{node_id, "a"},
		{run_event_bus, true},
		{run_apps, true},
		{run_repository, true},
		{run_repository_storage, true},
		{run_release_manager, true},
		{run_orchestrator, true},
		{run_user_manager, true},
		{run_node_manager, true}
	]}
].