[{apps,[{"app",{app,"app",{configuration,[],[]}}}]},
 {deployed_versions,[{{"app","dev"},"1.0"}]},
 {instance_events,[{"app-0",{running,"1.0"}}]},
 {instances,[{{"app","dev","app-0"},
              {instance,"app","dev","app-0","test0",
                        {configuration,[{property,"port","8080"}],[]}}}]},
 {nodes,[{"test0",nonode@nohost}]},
 {recommended_versions,[{{"app","dev"},{"1.0",immediate}}]},
 {stages,[{{"app","dev"},{stage,"app","dev",{configuration,[],[]}}}]}].
