<div class="btn-toolbar pull-right">
	<button class="btn btn-primary" ng-click="addApplication()">Add application</button>
</div>
<h1>Applications</h1>
<hr />

<div class="jumbotron" ng-show="Applications.list.length==0">
	<h1>There are no applications</h1>
	<p>
		Some help text
	</p>
	<button class="btn btn-primary btn-lg" ng-click="addApplication()">
		Add your first application
	</button>
</div>

<navigator>
	<navigator-column label="Applications" entries="getApplications(parent)" details="showApplication(entry)" add="addApplication(parent)">
		App: {{entry.application.id.id}}
	</navigator-column>
	<navigator-column label="Stages" entries="getStages(parent)" add="newStage(parent)">
		Stage: {{entry.stage.id.id}}
	</navigator-column>
	<navigator-column label="Containers" entries="getContainers(parent)">
		Container: {{entry.container.id.id}}
	</navigator-column>
</navigator>

<!--
<div class="panel panel-primary" ng-repeat="app in Applications.list">
	<div class="panel-heading">
		<div class="btn-toolbar pull-right">
			<button class="btn btn-success btn-xs" ng-click="addStage(app.application.id)">Add stage</button>
			<button class="btn btn-danger btn-xs" ng-click="removeApplication(app.application.id)">Remove application</button>
		</div>
		{{app.application.id.id}}
	</div>
	<div class="panel-body">
		<h4>Properites</h4>
		<pre>{{app.application.properties|json}}</pre>
		<h4>Stages</h4>
		<span ng-repeat="stageEvent in Stages.stagesOfApplication(app.application.id)">
			<a class="label label-default" href="/application/{{app.application.id.id}}/stage/{{stageEvent.stage.id.id}}">{{stageEvent.stage.id.id}}</a>&nbsp;
		</span>
		<h4>Upload version</h4>
		<upload-version appid="app.application.id"></upload-version>
		<h4>Versions</h4>
		<span ng-repeat="versionEvent in versionsForApplication(app.application.id, Versions.list)">
			<a class="label label-default" href="/application/{{app.application.id.id}}/version/{{versionEvent.version.number}}">{{versionEvent.version.number}}</a>
		</span>
	</div>
</div>
-->
