<div class="panel panel-primary">
	<div class="panel-heading">
		<div class="btn-toolbar pull-right">
			<button class="btn btn-success btn-xs" ng-click="addContainer(stage.stage.id)">
				Add container
			</button>
			<button class="btn btn-danger btn-xs" ng-click="removeStage(stage.stage.id)">Remove stage</button>
		</div>
		<a href="/application/{{stage.stage.id.applicationId.id}}/stage/{{stage.stage.id.id}}">
			{{stage.stage.id.applicationId.id}} @ {{stage.stage.id.id}}
		</a>
	</div>
	<div class="panel-body">
		<h4>Properites</h4>
		<pre>{{stage.stage.properties|json}}</pre>
		<h4>Containers</h4>
		<div class="list-group">
			<div class="list-group-item" ng-repeat="containerUpdatedEvent in ContainersConfiguration.containersInStage(stage.stage.id)">
				<div class="btn-toolbar pull-right">
					<button class="btn btn-primary btn-xs">Update container</button>
					<button class="btn btn-danger btn-xs">Remove container</button>
				</div>
				<h4>{{containerUpdatedEvent.container.id.id}}</h4>
				<strong>Properties</strong>
				<pre>{{containerUpdatedEvent.container.properties|json}}</pre>
			</div>
		</div>
	</div>
</div>