<div class="btn-toolbar pull-right">
	<button class="btn btn-primary" ng-click="addApplication()">Add application</button>
</div>
<h1>Applications</h1>
<hr />

<div ng-show="loading()">
	Loading...
</div>

<div class="jumbotron" ng-show="!loading() && Applications.applications == {}">
	<h1>There are no applications</h1>
	<p>
		Some help text
	</p>
	<button class="btn btn-primary btn-lg" ng-click="addApplication()">
		Add your first application
	</button>
</div>

<div class="panel panel-primary" nh-hide="loading()" ng-repeat="(applicationId, app) in Applications.applications.snapshot.entries">
	<div class="panel-heading">
		<div class="btn-toolbar pull-right">
			<button class="btn btn-success btn-xs" ng-click="addStage(app.id)">Add stage</button>
			<button class="btn btn-danger btn-xs" ng-click="removeApplication(app.id)">Remove application</button>
		</div>
		{{app.id.id}}
	</div>
	<div class="panel-body">
		<div class="panel">
			<div class="btn-toolbar pull-right">
				<button class="btn btn-default btn-xs" ng-click="app.properties.push({jsonClass: 'easyrider.Applications$Property', namespace: 'literal.string', name: 'name here', value: 'value here'})">
					Add literal property
				</button>
				<button class="btn btn-default btn-xs" ng-click="saveApplication(app)">
					Save changes
				</button>
			</div>
			<h4>Properties</h4>
			<property property="property" ng-repeat="property in app.properties"></property>
		</div>
		<h4>Stages</h4>
		<span ng-repeat="stage in Stages.stagesOfApplication(app.id)">
			<a class="label label-default" href="/application/{{app.id.id}}/stage/{{stage.id.id}}">{{stage.id.id}}</a>&nbsp;
		</span>
		<h4><a href="/versions/{{app.id.id}}">Versions</a></h4>
		<span ng-repeat="versionMetadata in Versions.versionsByApplicationId[app.id.id]">
			<a class="label label-default" href="/application/{{app.id.id}}/version/{{versionMetadata.version.number}}">{{versionMetadata.version.number}}</a>
		</span>
	</div>
</div>
