<h4>Create SSH node</h4>
<div class="panel panel-primary">
    <div class="panel-heading">
        SSH node
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label>Id</label>
            <input type="text" class="form-control" autofocus ng-model="Command.command.nodeConfiguration.id.id" />
        </div>
        <div class="form-group">
            <label>Host</label>
            <input type="text" class="form-control" autofocus ng-model="Command.command.nodeConfiguration.host" />
        </div>
        <div class="form-group">
            <label>Port</label>
            <input type="number" class="form-control" autofocus ng-model="Command.command.nodeConfiguration.port" />
        </div>
        <div class="form-group">
            <label>Login</label>
            <input type="text" class="form-control" autofocus ng-model="Command.command.nodeConfiguration.login" />
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" autofocus ng-model="Command.command.nodeConfiguration.password" />
        </div>
    </div>
</div>
